html {
	background: url('back-fill.png') no-repeat center center fixed; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
/* Sets background image to fill and centre. Vendor prefixes to target specific browsers */

body { background-color:transparent; }

h1 {
	font-size: 50px;
}


.about{
	width: 600px;
	margin-left: 100px;
}

.bio {
	font-weight: 400;
}
